@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Ubuntu+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu Mono;
}

html {
  scroll-behavior: smooth;
}

#checkboxInput {
  display: none;
}

/* =============== Dark Mode =============== */

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: 0.2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#checkboxInput:checked + .toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: 0.2s;
  background-color: white;
}

#checkboxInput:checked + .toggleSwitch {
  background-color: #6bdb43;
  transition-duration: 0.2s;
}

.toggleSwitch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

body.dark {
  background-color: #232c35;
  color: #f3f6f8;
}

body.dark .navItems a {
  color: #f3f6f8;
}

body.dark .navItems a:hover {
  color: #6bdb43;
}

body.dark .section-header {
  color: white;
}

body.dark .skill-title {
  color: white;
}

body.dark .about-title {
  color: white;
}

body.dark .media {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #6bdb43;
}

body.dark .content p,
h2 {
  color: black;
}

/* =============== Conteúdo Principal =============== */

body {
  background-color: #f3f6f8;
  transition: background 0.2s linear;
  color: black;
}

header {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
}

.logoName {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

/* =============== NavBar =============== */

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  z-index: 111;
}

.navItems {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItems li {
  margin-right: 20px;
}

.navItems a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navItems a:hover {
  color: #6bdb43;
}

/* =============== Header =============== */

.home {
  height: 80vh;
  background: url(img/undraw_react_re_g3ui.svg) no-repeat;
  background-position: right;
  right: 10%;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #6bdb43;
}

.home-content p {
  font-size: 16px;
  margin-top: 10px;
}

.home {
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.tiTextDark {
  color: #f3f6f8;
}

.tiTextLight {
  color: black;
}

.expo {
  width: 24px;
  height: 24px;
}

.section-header {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15vh;
}

.section-footer {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5vh;
  margin-top: 5vh;
  color: black;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #6bdb43;
}

body.dark .section-footer {
  color: #fff;
}

/* =============== Responsividade =============== */

@media screen and (max-width: 768px) {
  .navItems {
    flex-direction: column;
    align-items: center;
  }

  .navItems li {
    margin: 10px 0;
  }

  .logoName {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 20px;
  }

  .home {
    flex-direction: column;
  }
}

@media screen and (max-width: 1295px) {
  .home {
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .home {
    background-image: none;
    background-color: #f4f4f4;
  }

  .home-content {
    text-align: center;
  }

  .project-header {
    font-size: 1.5em;
  }

  .project-description {
    font-size: 0.9em;
    margin-top: 10px;
  }

  .comic-button {
    font-size: 0.8em;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-content h1 {
    font-size: 1.5em;
  }

  .about-content p {
    font-size: 0.9em;
    margin-top: 10px;
  }

  .socialLink {
    margin: 10px;
  }

  .navItems {
    visibility: hidden;
  }
}

@media (min-width: 769px) {
  .project {
    flex-direction: row;
    text-align: left;
  }

  .project-img {
    flex: 1;
    text-align: center;
  }

  .project-content {
    flex: 2;
    padding: 20px;
    text-align: left;
  }

  .home-about {
    justify-content: space-evenly;
  }

  .about-content {
    max-width: 400px;
    margin-right: 20px;
  }

  .about-title {
    font-size: 48px;
  }
}

/* =============== Projetos =============== */

.projects-list {
  display: flex;
  align-items: center;
  padding: 0 10%;
  margin-top: 20vh;
}

img {
  max-width: 100%;
}

h1,
p {
  margin: 0 0 1em 0;
}

.media {
  margin-bottom: 2em;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  padding: 15px;
}

.media > .title {
  grid-area: title;
}
.media > .img {
  grid-area: img;
}
.media > .content {
  grid-area: bd;
}
.media > .footer {
  grid-area: ft;
}

.media {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
}

@media (min-width: 600px) {
  .media:after {
    content: "";
    display: block;
    clear: both;
  }

  .media > .media {
    margin-left: 160px;
    clear: both;
  }

  .media .img {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }

  .media .footer {
    background-color: #eee;
    padding: 10px;
  }

  .media.media-flip .img {
    float: right;
    margin: 0 0 0 10px;
  }

  .media > * {
    margin: 0 0 0 160px;
  }

  .media.media-flip > * {
    margin: 0 160px 0 0;
  }

  @supports (display: grid) {
    .media > *,
    .media.media-flip > * {
      margin: 0;
    }
    .media .img,
    .media.media-flip .img {
      width: auto;
      margin: 0;
    }
    .media:after {
      content: none;
    }

    .media-flip .btn-group {
      float: right;
      margin: 0 0 1em 1em;
    }

    .media-flip .content {
      text-align: right;
    }

    .media-flip .title {
      text-align: right;
    }

    .media {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 150px 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "img title"
        "img bd";
    }

    .media.media-flip {
      grid-template-columns: 3fr 150px;
      grid-template-areas:
        "title img"
        "bd img";
    }

    .media.img-flexie {
      grid-template-columns: minmax(150px, 1fr) 4fr;
    }

    .media.media-flip.img-flexie {
      grid-template-columns: 4fr minmax(150px, 1fr);
    }

    .media > .media {
      grid-column: 2 / -1;
      margin: 0;
      margin-top: 1em;
    }
  }
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #6bdb43;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.comic-button:hover {
  background-color: #fff;
  color: #6bdb43;
  border: 2px solid #6bdb43;
  box-shadow: 5px 5px 0px #6bdb43;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

/* =============== Contato =============== */

.contact-section {
  height: auto;
  width: 100%;
  padding: 50px 0;
}
.contact-section form {
  padding-top: 0px;
}

.section-header {
  color: black;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #6bdb43;
  margin-bottom: 50px;
}

.contact-section form,
form .contact-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-group {
  height: auto;
  width: 100%;
}

.contact-group input,
textarea {
  width: 350px;
  margin: 10px 0;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  background-color: #f3f6f9;
  color: #000;
  font-family: var(--main-font-family);
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
}

.contact-group input::placeholder,
textarea::placeholder {
  font-size: var(--fs-regular);
}

textarea {
  height: 11rem;
}

/* =============== Estilo da ScrollBar =============== */

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: #6bdb43;
  border-radius: 5px;
}

/* =============== Skills =============== */

#habilidades {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  margin-top: 30vh;
  background-color: #c7d75b;
  padding: 35px;
  width: 800px;
  border-radius: 0% 0% 15% 0%;
  box-shadow: 5px 5px 0px #6bdb43;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover .img-skill {
  transform: translateY(-10px);
}

.skill-box:hover .skill-title::after,
.skill-box:hover > .skill-title::before {
  width: 35px;
}

.skill-title {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  position: relative;
}

h3 {
  margin-top: 10px;
}

.skill-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #6bdb43;
  transition: 0.5s;
}

.skill-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #6bdb43;
  transition: 0.5s;
}

.img-skill {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50px;
  background-color: rgb(230, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-skill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100px;
  background: rgb(100, 100, 100, 0.5);
  border-radius: 50px 0 0 50px;
}

.skill-icon {
  width: 80px;
  z-index: 2;
}

@media screen and (max-width: 990px) {
  .container-skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

/* =============== Sobre =============== */

.about-title {
  color: black;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #6bdb43;
  margin-top: 30vh;
  font-size: 40px;
}

.home-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.about-img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  border: 5px solid #6bdb43;
}

.about-content h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: #6bdb43;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.links img {
  width: 35px;
  margin: 0 10px;
}

.about-content p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
